.nav {
  background: var(--dark);
  padding: var(--spacing-2) var(--spacing-3);
  font-size: var(--font-3);
  display: flex;
  align-items: center;
  color: var(--white);
}

.logoType{
  text-align: left;
  flex-grow: 1;
}

.nav > div > div > img {
  height: 40px;
  border-radius: var(--radii-default);
}

.nav > div > div {
  position: relative;
}

.nav > div > div > div {
  display: none;
  position: absolute;
  z-index: 999;
  box-shadow: var(--shadow-elevated);
  top: 40;
  background: var(--snow);
  right: 0;
  border-radius: var(--radii-default);
  text-align: right;
  width: 220px;
}

.nav > div > div > div > a:first-child {
  border-top-right-radius: var(--radii-default);
  border-top-left-radius: var(--radii-default);
}

.nav > div > div > div > a:last-child {
  border-bottom-right-radius: var(--radii-default);
  border-bottom-left-radius: var(--radii-default);
}


.nav > div > div > div > a {
  display: block;
  padding: var(--spacing-2);
  text-decoration: none;
  color: var(--text)
}

.nav > div > div > div > a:hover {
  background: var(--blue);
  color: var(--snow);
}


.nav > div > div:hover > div {
  display: block;
}