.nav {
  background: var(--sunken);
  padding: var(--spacing-2) var(--spacing-3);
  font-size: var(--font-3);
  display: flex;
  align-items: center;
}

.logoType{
  text-align: left;
  flex-grow: 1;
}

.nav > a > img {
  height: 40px;
  border-radius: var(--radii-default);
}