.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.sideBar {
  padding: 32px;
}

.navigation {
  background: var(--sunken);
  padding: 16px;
  border-radius: var(--radii-small);
}

.adminTitle {
  margin-top: 4px;
}

.links {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  padding-top: 16px;
  width: 600px;
  margin: auto;
}