.wrapper {
  display: grid;
}

@media screen and (min-width: 720px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
  }
  .sideBar {
    padding: 32px;
  }
  .content {
    padding-top: 16px;
  }
}

.navigation {
  background: var(--sunken);
  padding: 16px;
  border-radius: var(--radii-small);
}

.adminTitle {
  margin-top: 4px;
}

.links {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  padding-top: 8px;
  max-width: 600px;
  width: calc(100vw - 32px);
  margin: auto;
}