.event {
  background: var(--sunken);
  border-radius: var(--radii-small);
  padding: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.event > div > h2 {
  margin-bottom: 6px;
}

.event > img {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: var(--radii-default);
  margin-right: 12px;
}
