.team {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  background: var(--sunken);
  padding: var(--spacing-3);
  border-radius: var(--radii-default);
}

.team > ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-inline-start: 20px;
}

.team > summary {
  font-weight: 600;
}

.form {
  background: var(--sunken);
  padding: var(--spacing-3);
  border-radius: var(--radii-default);
}
