.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1; 
  position: relative;
}

.footer {
  background: var(--sunken);
  padding: var(--spacing-3);
  text-align: center;
  margin-top: 24px;
  font-weight: 500;
}