.header {
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-4) var(--spacing-3);
  text-align: left;
  background-attachment: fixed;
  background-position: center;
}

.header > div > p > button {
  padding: calc( var(--spacing-2) + var(--spacing-1)) var(--spacing-3);
  font-size: 20px!important;
  border-radius: var(--radii-default);
}

.join {
  background: var(--green)!important;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 510px) {
  .join {
    margin-bottom: 10px;
  }
}

.title {
  font-size: 3.5em;
}