.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  border-radius: var(--radii-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-card);
  letter-spacing: var(--letter-spacing-headline);
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.125s ease-in-out, box-shadow 0.125s ease-in-out;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  line-height: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--white);
  background-color: var(--primary);
  border: 0;
  font-size: var(--font-2);
}
